.days {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

  div {
    flex: 1 1 0;
    height: 20px;
    text-align: center;
  }
}

.dates {
  display: flex;

  div {
    flex: 1 1 0;
    height: 20px;
    text-align: center;
  }
}

.achievements {
  display: flex;
  margin-top: 40px;

  div {
    flex: 1 1 0;
    height: 20px;
    text-align: center;
  }
}
